
@{
    ViewBag.Title = "List";
}
<div class="page-content">
    <div class="container"> 

        <div class="row grid cols-lg-3 cols-md-2 mb-2" data-grid-options="{
                        'layoutMode': 'fitRows'
                    }" style="position: relative; height: 1101.97px;">
            <article class="post post-grid-type grid-item overlay-zoom fashion" style="position: absolute; left: 0%; top: 0px;">
                <figure class="post-media br-sm">
                    <a href="post-single.html">
                        <img src="~/Content/assets/images/blog/2cols/1.jpg" width="600" height="420" alt="blog">
                    </a>
                </figure>
                <div class="post-details">
                    <div class="post-cats text-primary">
                        <a href="#">Fashion</a>
                    </div>
                    <h4 class="post-title">
                        <a href="post-single.html">New found the men dress for summer</a>
                    </h4>
                    <div class="post-content">
                        <p>
                            Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo,
                            eget blandit nunc tortor eu nibh. Suspendisse potenti.Sed egstas, ant at
                            vulputate volutpat, uctus metus libero eu augue, vitae luctus…
                        </p> <a href="post-single.html" class="btn btn-link btn-primary">(read more)</a>
                    </div>
                    <div class="post-meta">
                        by <a href="#" class="post-author">John Doe</a>
                        - <a href="#" class="post-date">03.01.2021</a>
                        <a href="#" class="post-comment"><i class="w-icon-comments"></i><span>7</span>Comments</a>
                    </div>
                </div>
            </article>
            <article class="post post-grid-type grid-item overlay-zoom others technology" style="position: absolute; left: 33.3321%; top: 0px;">
                <figure class="post-media br-sm">
                    <a href="post-single.html">
                        <img src="~/Content/assets/images/blog/2cols/2.jpg" width="600" height="420" alt="blog">
                    </a>
                </figure>
                <div class="post-details">
                    <div class="post-cats text-primary">
                        <a href="#">Others</a>,
                        <a href="#">Technology</a>
                    </div>
                    <h4 class="post-title">
                        <a href="post-single.html">Recognitory the needs is primary condition  for design</a>
                    </h4>
                    <div class="post-content">
                        <p>
                            Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo,
                            eget blandit nunc tortor eu nibh. Suspendisse potenti.Sed egstas, ant at
                            vulputate volutpat, uctus metus libero eu augue, vitae luctus…
                        </p>
                        <a href="post-single.html" class="btn btn-link btn-primary">(read more)</a>
                    </div>
                    <div class="post-meta">
                        by <a href="#" class="post-author">John Doe</a>
                        - <a href="#" class="post-date">03.05.2021</a>
                        <a href="#" class="post-comment"><i class="w-icon-comments"></i><span>4</span>Comments</a>
                    </div>
                </div>
            </article>
            <article class="post post-grid-type grid-item overlay-zoom clothes" style="position: absolute; left: 66.6641%; top: 0px;">
                <figure class="post-media br-sm">
                    <a href="post-single.html">
                        <img src="~/Content/assets/images/blog/2cols/3.jpg" width="600" height="420" alt="blog">
                    </a>
                </figure>
                <div class="post-details">
                    <div class="post-cats text-primary">
                        <a href="#">Clothes</a>
                    </div>
                    <h4 class="post-title">
                        <a href="post-single.html">New found the women’s shirt  for summer season</a>
                    </h4>
                    <div class="post-content">
                        <p>
                            Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo,
                            eget blandit nunc tortor eu nibh. Suspendisse potenti.Sed egstas, ant at
                            vulputate volutpat, uctus metus libero eu augue, vitae luctus…
                        </p>
                        <a href="post-single.html" class="btn btn-link btn-primary">(read more)</a>
                    </div>
                    <div class="post-meta">
                        by <a href="#" class="post-author">John Doe</a>
                        - <a href="#" class="post-date">03.01.2021</a>
                        <a href="#" class="post-comment"><i class="w-icon-comments"></i><span>2</span>Comments</a>
                    </div>
                </div>
            </article>
            <article class="post post-grid-type grid-item overlay-zoom lifestyle" style="position: absolute; left: 0%; top: 550.984px;">
                <figure class="post-media br-sm">
                    <a href="post-single.html">
                        <img src="~/Content/assets/images/blog/2cols/4.jpg" width="600" height="420" alt="blog">
                    </a>
                </figure>
                <div class="post-details">
                    <div class="post-cats text-primary">
                        <a href="#">Lifestyle</a>
                    </div>
                    <h4 class="post-title">
                        <a href="post-single.html">We want to be different and fashion gives to me that outlet</a>
                    </h4>
                    <div class="post-content">
                        <p>
                            Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo,
                            eget blandit nunc tortor eu nibh. Suspendisse potenti.Sed egstas, ant at
                            vulputate volutpat, uctus metus libero eu augue, vitae luctus…
                        </p>
                        <a href="post-single.html" class="btn btn-link btn-primary">(read more)</a>
                    </div>
                    <div class="post-meta">
                        by <a href="#" class="post-author">John Doe</a>
                        - <a href="#" class="post-date">03.03.2021</a>
                        <a href="#" class="post-comment"><i class="w-icon-comments"></i><span>5</span>Comments</a>
                    </div>
                </div>
            </article>
            <article class="post post-grid-type grid-item overlay-zoom entertainment shoes lifestyle others" style="position: absolute; left: 33.3321%; top: 550.984px;">
                <figure class="post-media br-sm">
                    <a href="post-single.html">
                        <img src="~/Content/assets/images/blog/2cols/5.jpg" width="600" height="420" alt="blog">
                    </a>
                </figure>
                <div class="post-details">
                    <div class="post-cats text-primary">
                        <a href="#">Entertainment</a>,
                        <a href="#">Lifestyle</a>,
                        <a href="#">Others</a>
                    </div>
                    <h4 class="post-title">
                        <a href="post-single.html">Comes a cool blog post with Images</a>
                    </h4>
                    <div class="post-content">
                        <p>
                            Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo,
                            eget blandit nunc tortor eu nibh. Suspendisse potenti.Sed egstas, ant at
                            vulputate volutpat, uctus metus libero eu augue, vitae luctus…
                        </p>
                        <a href="post-single.html" class="btn btn-link btn-primary">(read more)</a>
                    </div>
                    <div class="post-meta">
                        by <a href="#" class="post-author">John Doe</a>
                        - <a href="#" class="post-date">03.01.2021</a>
                        <a href="#" class="post-comment"><i class="w-icon-comments"></i><span>2</span>Comments</a>
                    </div>
                </div>
            </article>
            <article class="post post-grid-type grid-item overlay-zoom fashion lifestyle" style="position: absolute; left: 66.6641%; top: 550.984px;">
                <figure class="post-media br-sm">
                    <a href="post-single.html">
                        <img src="~/Content/assets/images/blog/2cols/6.jpg" width="600" height="420" alt="blog">
                    </a>
                </figure>
                <div class="post-details">
                    <div class="post-cats text-primary">
                        <a href="#">Fashion</a>,
                        <a href="#">Technology</a>
                    </div>
                    <h4 class="post-title">
                        <a href="post-single.html">Fusce lacinia arcuet nulla</a>
                    </h4>
                    <div class="post-content">
                        <p>
                            Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo,
                            eget blandit nunc tortor eu nibh. Suspendisse potenti.Sed egstas, ant at
                            vulputate volutpat, uctus metus libero eu augue, vitae luctus…
                        </p>
                        <a href="post-single.html" class="btn btn-link btn-primary">(read more)</a>
                    </div>
                    <div class="post-meta">
                        by <a href="#" class="post-author">John Doe</a>
                        - <a href="#" class="post-date">03.06.2021</a>
                        <a href="#" class="post-comment"><i class="w-icon-comments"></i><span>3</span>Comments</a>
                    </div>
                </div>
            </article>
        </div>
        <ul class="pagination justify-content-center mb-10 pb-2 pt-2">
            <li class="prev disabled">
                <a href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
                    <i class="w-icon-long-arrow-left"></i>Prev
                </a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="next">
                <a href="#" aria-label="Next">
                    Next<i class="w-icon-long-arrow-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

