
@{
    ViewBag.Title = "List";
    ViewBag.PageHeader = "Brands List";
}
@section Breadcrumb{
    
}
<h2 class="title title-underline mb-4 ls-normal appear-animate fadeIn appear-animation-visible" style="animation-duration: 1.2s;">Our Clients</h2>
<div class="row">
    <div class="col-4">
        <div class="brand-col">
            <figure class="brand-wrapper">
                <img src="~/Content/assets/images/demos/demo1/brands/9.png" alt="Brand" width="410" height="186">
            </figure>
        </div>
    </div>
    <div class="col-4">
        <div class="brand-col">

            <figure class="brand-wrapper">
                <img src="~/Content/assets/images/demos/demo1/brands/10.png" alt="Brand" width="410" height="186">
            </figure>
        </div>
    </div>
    <div class="col-4">
        <div class="brand-col">
            <figure class="brand-wrapper">
                <img src="~/Content/assets/images/demos/demo1/brands/11.png" alt="Brand" width="410" height="186">
            </figure>
        </div>
    </div>
    <div class="col-4">
        <div class="brand-col">
            <figure class="brand-wrapper">
                <img src="~/Content/assets/images/demos/demo1/brands/12.png" alt="Brand" width="410" height="186">
            </figure>
        </div>
    </div>
</div>
