


<section class=" mt-5  pt-10 pb-10 appear-animate fadeIn appear-animation-visible" style="animation-duration: 1.2s;">


    <div class="title-link-wrapper title-post pb-1 mb-4 appear-animate fadeIn appear-animation-visible" style="animation-duration: 1.2s;">
        <h2 class="title ls-normal mb-1">From Our Blog</h2>
        <a href="blog-listing.html" class="font-weight-bold font-size-normal ls-25 mb-0">
            View All
            Articles
        </a>
    </div>
    <div class="owl-carousel owl-theme post-wrapper pb-2 pb-lg-0 mb-10 mb-lg-6 appear-animate owl-loaded owl-drag" data-owl-options="{
                    'items': 4,
                    'nav': true,
                    'dots': true,
                    'loop': true,
                    'margin': 20,
         'autoplay': true,
        'pagination' :true,
                    'responsive': {
                        '0': {
                            'items': 1
                        },
                        '576': {
                            'items': 2
                        },
                        '768': {
                            'items': 3
                        },
                        '992': {
                            'items': 4,
                            'dots': true
                        }
                    }
                }">
        <div class="owl-stage-outer">
            <div class="owl-stage">
                <div class="owl-item" style="width: 285px; margin-right: 20px;">
                    <div class="post text-center overlay-zoom">
                        <figure class="post-media br-sm">
                            <a href="post-single.html">
                                <img src="~/Content/assets/images/demos/demo9/blog/1.jpg" alt="Post" width="620" height="420" style="background-color: #B9BAB4;">
                            </a>
                        </figure>
                        <div class="post-details">
                            <div class="post-meta">
                                by <a href="#" class="post-author">John Doe</a>
                                - <a href="#" class="post-date mr-0">03.05.2021</a>
                            </div>
                            <h4 class="post-title">
                                <a href="post-single.html">
                                    We want to be different, and Fashion gives
                                    me that outlet to do
                                </a>
                            </h4>
                            <a href="post-single.html" class="btn btn-link btn-dark btn-underline">Read More<i class="w-icon-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="owl-item" style="width: 285px; margin-right: 20px;">
                    <div class="post text-center overlay-zoom">
                        <figure class="post-media br-sm">
                            <a href="post-single.html">
                                <img src="~/Content/assets/images/demos/demo9/blog/2.jpg" alt="Post" width="620" height="420" style="background-color: #F2F3F7;">
                            </a>
                        </figure>
                        <div class="post-details">
                            <div class="post-meta">
                                by <a href="#" class="post-author">John Doe</a>
                                - <a href="#" class="post-date mr-0">03.05.2021</a>
                            </div>
                            <h4 class="post-title"><a href="post-single.html">Explore Fashion For Women In</a></h4>
                            <a href="post-single.html" class="btn btn-link btn-dark btn-underline">Read More<i class="w-icon-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="owl-item" style="width: 285px; margin-right: 20px;">
                    <div class="post text-center overlay-zoom">
                        <figure class="post-media br-sm">
                            <a href="post-single.html">
                                <img src="~/Content/assets/images/demos/demo9/blog/3.jpg" alt="Post" width="620" height="420" style="background-color: #D7DDDF;">
                            </a>
                        </figure>
                        <div class="post-details">
                            <div class="post-meta">
                                by <a href="#" class="post-author">John Doe</a>
                                - <a href="#" class="post-date mr-0">03.05.2021</a>
                            </div>
                            <h4 class="post-title">
                                <a href="post-single.html">
                                    Fashion tells about who you are from
                                    external point of view
                                </a>
                            </h4>
                            <a href="post-single.html" class="btn btn-link btn-dark btn-underline">Read More<i class="w-icon-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="owl-item" style="width: 285px; margin-right: 20px;">
                    <div class="post text-center overlay-zoom">
                        <figure class="post-media br-sm">
                            <a href="post-single.html">
                                <img src="~/Content/assets/images/demos/demo9/blog/4.jpg" alt="Post" width="620" height="420" style="background-color: #E4E8EB;">
                            </a>
                        </figure>
                        <div class="post-details">
                            <div class="post-meta">
                                by <a href="#" class="post-author">John Doe</a>
                                - <a href="#" class="post-date mr-0">03.05.2021</a>
                            </div>
                            <h4 class="post-title">
                                <a href="post-single.html">Just found the ultimate denim dresses</a>
                            </h4>
                            <a href="post-single.html" class="btn btn-link btn-dark btn-underline">Read More<i class="w-icon-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="owl-item" style="width: 285px; margin-right: 20px;">
                    <div class="post text-center overlay-zoom">
                        <figure class="post-media br-sm">
                            <a href="post-single.html">
                                <img src="~/Content/assets/images/demos/demo9/blog/3.jpg" alt="Post" width="620" height="420" style="background-color: #D7DDDF;">
                            </a>
                        </figure>
                        <div class="post-details">
                            <div class="post-meta">
                                by <a href="#" class="post-author">John Doe</a>
                                - <a href="#" class="post-date mr-0">03.05.2021</a>
                            </div>
                            <h4 class="post-title">
                                <a href="post-single.html">
                                    Fashion tells about who you are from
                                    external point of view
                                </a>
                            </h4>
                            <a href="post-single.html" class="btn btn-link btn-dark btn-underline">Read More<i class="w-icon-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="owl-item" style="width: 285px; margin-right: 20px;">
                    <div class="post text-center overlay-zoom">
                        <figure class="post-media br-sm">
                            <a href="post-single.html">
                                <img src="~/Content/assets/images/demos/demo9/blog/4.jpg" alt="Post" width="620" height="420" style="background-color: #E4E8EB;">
                            </a>
                        </figure>
                        <div class="post-details">
                            <div class="post-meta">
                                by <a href="#" class="post-author">John Doe</a>
                                - <a href="#" class="post-date mr-0">03.05.2021</a>
                            </div>
                            <h4 class="post-title">
                                <a href="post-single.html">Just found the ultimate denim dresses</a>
                            </h4>
                            <a href="post-single.html" class="btn btn-link btn-dark btn-underline">Read More<i class="w-icon-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-nav">
            <div class="owl-prev"><i class="w-icon-angle-left"></i></div>
            <div class="owl-next"><i class="w-icon-angle-right"></i></div>
        </div> 
    </div>

</section>