
@{
    ViewBag.Title = "MostPopularBrand";
}

<section class="mt-5  pt-10 pb-10 appear-animate fadeIn appear-animation-visible" style="animation-duration: 1.2s;">


    <h2 class="title text-left pt-1 mb-5 appear-animate fadeIn appear-animation-visible" style="animation-duration: 1.2s;">Most Popular Brand</h2>
    <div class="category-wrapper owl-carousel owl-theme appear-animate owl-loaded owl-drag fadeIn appear-animation-visible" data-owl-options="{
                    'nav': true,
                    'dots': true,
                    'margin': 20,
        'pagination' :true,
                    'responsive': {
                        '0': {
                            'items': 2
                        },
                        '576': {
                            'items': 3
                        },
                        '768': {
                            'items': 4
                        },
                        '992': {
                            'items': 5
                        },
                        '1200': {
                            'items': 6
                        }
                    }
                }" style="animation-duration: 1.2s;">






        <div class="owl-stage-outer">
            <div class="owl-stage">
                <div class="owl-item" style="width: 190px; margin-right: 20px;">
                    <div class="category category-ellipse">
                        <figure class="category-media">
                            <a href="shop-banner-sidebar.html">
                                <img src="~/Content/assets/images/demos/demo3/categories/4.jpg" alt="Categroy" width="190" height="190" style="background-color: #5C92C0;">
                            </a>
                        </figure>
                        <div class="category-content">
                            <h4 class="category-name">
                                <a href="shop-banner-sidebar.html">Adidas</a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="owl-item" style="width: 190px; margin-right: 20px;">
                    <div class="category category-ellipse">
                        <figure class="category-media">
                            <a href="shop-banner-sidebar.html">
                                <img src="~/Content/assets/images/demos/demo3/categories/5.jpg" alt="Categroy" width="190" height="190" style="background-color: #9BC4CA;">
                            </a>
                        </figure>
                        <div class="category-content">
                            <h4 class="category-name">
                                <a href="shop-banner-sidebar.html">Nike</a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="owl-item" style="width: 190px; margin-right: 20px;">
                    <div class="category category-ellipse">
                        <figure class="category-media">
                            <a href="shop-banner-sidebar.html">
                                <img src="~/Content/assets/images/demos/demo3/categories/6.jpg" alt="Categroy" width="190" height="190" style="background-color: #48555B;">
                            </a>
                        </figure>
                        <div class="category-content">
                            <h4 class="category-name">
                                <a href="shop-banner-sidebar.html">Samsung</a>
                            </h4>
                        </div>
                    </div>
                </div><div class="owl-item" style="width: 190px; margin-right: 20px;">
                    <div class="category category-ellipse">
                        <figure class="category-media">
                            <a href="shop-banner-sidebar.html">
                                <img src="~/Content/assets/images/demos/demo3/categories/7.jpg" alt="Categroy" width="190" height="190" style="background-color: #D4E5EF;">
                            </a>
                        </figure>
                        <div class="category-content">
                            <h4 class="category-name">
                                <a href="shop-banner-sidebar.html">Xbox</a>
                            </h4>
                        </div>
                    </div>
                </div><div class="owl-item" style="width: 190px; margin-right: 20px;">
                    <div class="category category-ellipse">
                        <figure class="category-media">
                            <a href="shop-banner-sidebar.html">
                                <img src="~/Content/assets/images/demos/demo3/categories/8.jpg" alt="Categroy" width="190" height="190" style="background-color: #6A7881;">
                            </a>
                        </figure>
                        <div class="category-content">
                            <h4 class="category-name">
                                <a href="shop-banner-sidebar.html">Xiaomi</a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="owl-item" style="width: 190px; margin-right: 20px;">
                    <div class="category category-ellipse">
                        <figure class="category-media">
                            <a href="shop-banner-sidebar.html">
                                <img src="~/Content/assets/images/demos/demo3/categories/9.jpg" alt="Categroy" width="190" height="190" style="background-color: #E4E4E4;">
                            </a>
                        </figure>
                        <div class="category-content">
                            <h4 class="category-name">
                                <a href="shop-banner-sidebar.html">Apple</a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="owl-item" style="width: 190px; margin-right: 20px;">
                    <div class="category category-ellipse">
                        <figure class="category-media">
                            <a href="shop-banner-sidebar.html">
                                <img src="~/Content/assets/images/demos/demo3/categories/9.jpg" alt="Categroy" width="190" height="190" style="background-color: #E4E4E4;">
                            </a>
                        </figure>
                        <div class="category-content">
                            <h4 class="category-name">
                                <a href="shop-banner-sidebar.html">Apple</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="owl-nav">
            <div class="owl-prev"><i class="w-icon-angle-left"></i></div>
            <div class="owl-next"><i class="w-icon-angle-right"></i></div>
        </div>
    </div>

</section>