
@{
    ViewBag.Title = "TopCategoriesOfTheMonth";
}
<section class="category-section top-category bg-grey mt-5  pt-10 pb-10 appear-animate fadeIn appear-animation-visible" style="animation-duration: 1.2s;">
    <div class="container pb-2">
        <h2 class="title justify-content-center pt-1 ls-normal mb-5">Top Categories Of The Month</h2>
        <div class="owl-carousel owl-theme owl-loaded owl-drag" data-owl-options="{
                        'nav': false,
                        'dots': false,
                        'margin': 20,
                        'responsive': {
                            '0': {
                                'items': 2
                            },
                            '576': {
                                'items': 3
                            },
                            '768': {
                                'items': 5
                            },
                            '992': {
                                'items': 6
                            }
                        }
                    }">






            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 980px;">
                    <div class="owl-item active" style="width: 143.2px; margin-right: 20px;">
                        <div class="category category-classic category-absolute overlay-zoom br-xs">
                            <a href="shop-banner-sidebar.html" class="category-media">
                                <img src="~/Content/assets/images/demos/demo1/categories/2-1.jpg" alt="Category" width="130" height="130">
                            </a>
                            <div class="category-content">
                                <h4 class="category-name">Fashion</h4>
                                <a href="shop-banner-sidebar.html" class="btn btn-primary btn-link btn-underline">
                                    Shop
                                    Now
                                </a>
                            </div>
                        </div>
                    </div><div class="owl-item active" style="width: 143.2px; margin-right: 20px;">
                        <div class="category category-classic category-absolute overlay-zoom br-xs">
                            <a href="shop-banner-sidebar.html" class="category-media">
                                <img src="~/Content/assets/images/demos/demo1/categories/2-2.jpg" alt="Category" width="130" height="130">
                            </a>
                            <div class="category-content">
                                <h4 class="category-name">Furniture</h4>
                                <a href="shop-banner-sidebar.html" class="btn btn-primary btn-link btn-underline">
                                    Shop
                                    Now
                                </a>
                            </div>
                        </div>
                    </div><div class="owl-item active" style="width: 143.2px; margin-right: 20px;">
                        <div class="category category-classic category-absolute overlay-zoom br-xs">
                            <a href="shop-banner-sidebar.html" class="category-media">
                                <img src="~/Content/assets/images/demos/demo1/categories/2-3.jpg" alt="Category" width="130" height="130">
                            </a>
                            <div class="category-content">
                                <h4 class="category-name">Shoes</h4>
                                <a href="shop-banner-sidebar.html" class="btn btn-primary btn-link btn-underline">
                                    Shop
                                    Now
                                </a>
                            </div>
                        </div>
                    </div><div class="owl-item active" style="width: 143.2px; margin-right: 20px;">
                        <div class="category category-classic category-absolute overlay-zoom br-xs">
                            <a href="shop-banner-sidebar.html" class="category-media">
                                <img src="~/Content/assets/images/demos/demo1/categories/2-4.jpg" alt="Category" width="130" height="130">
                            </a>
                            <div class="category-content">
                                <h4 class="category-name">Sports</h4>
                                <a href="shop-banner-sidebar.html" class="btn btn-primary btn-link btn-underline">
                                    Shop
                                    Now
                                </a>
                            </div>
                        </div>
                    </div><div class="owl-item active" style="width: 143.2px; margin-right: 20px;">
                        <div class="category category-classic category-absolute overlay-zoom br-xs">
                            <a href="shop-banner-sidebar.html" class="category-media">
                                <img src="~/Content/assets/images/demos/demo1/categories/2-5.jpg" alt="Category" width="130" height="130">
                            </a>
                            <div class="category-content">
                                <h4 class="category-name">Games</h4>
                                <a href="shop-banner-sidebar.html" class="btn btn-primary btn-link btn-underline">
                                    Shop
                                    Now
                                </a>
                            </div>
                        </div>
                    </div><div class="owl-item" style="width: 143.2px; margin-right: 20px;">
                        <div class="category category-classic category-absolute overlay-zoom br-xs">
                            <a href="shop-banner-sidebar.html" class="category-media">
                                <img src="~/Content/assets/images/demos/demo1/categories/2-6.jpg" alt="Category" width="130" height="130">
                            </a>
                            <div class="category-content">
                                <h4 class="category-name">Computers</h4>
                                <a href="shop-banner-sidebar.html" class="btn btn-primary btn-link btn-underline">
                                    Shop
                                    Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><i class="w-icon-angle-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="w-icon-angle-right"></i></button></div><div class="owl-dots disabled"></div>
        </div>
    </div>
</section>