<section class="mt-5  pt-10 pb-10 appear-animate fadeIn appear-animation-visible" style="animation-duration: 1.2s;">

    <div class="title-link-wrapper mb-3">
        <h2 class="title mb-0 pt-2 pb-2">Top Rated Products</h2>
        <a href="shop-boxed-banner.html" class="mb-0">More Products<i class="w-icon-long-arrow-right"></i></a>
    </div>
    <div class="owl-carousel owl-theme product-wrapper owl-loaded owl-drag" data-owl-options="{
                    'nav': true,
                    'dots': true,
                    'margin': 20,
        'pagination' :true,
                    'responsive': {
                        '0': {
                            'items': 2
                        },
                        '576': {
                            'items': 3
                        },
                        '768': {
                            'items': 4
                        },
                        '992': {
                            'items': 5
                        },
                        '1200': {
                            'items': 6
                        }
                    }
                }">


        <div class="owl-stage-outer">
            <div class="owl-stage">
                <div class="owl-item" style="width: 184px; margin-right: 20px;">
                    <div class="product product-simple text-center">
                        <figure class="product-media">
                            <a href="product-default.html">
                                <img src="~/Content/assets/images/demos/demo8/product/5-1.jpg" alt="Product" width="260" height="291">
                            </a>
                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Add to wishlist"></a>
                                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Add to Compare"></a>
                            </div>
                            <div class="product-action">
                                <a href="#" class="btn-product btn-quickview" title="Quick View">
                                    Quick
                                    View
                                </a>
                            </div>
                            <div class="product-countdown-container">
                                <div class="product-countdown countdown-compact is-countdown" data-until="2021, 9, 9" data-format="DHMS" data-compact="false" data-labels-short="Days, Hours, Mins, Secs"><span class="countdown-row countdown-show4"><span class="countdown-section"><span class="countdown-amount">32</span><span class="countdown-period">Days</span></span><span class="countdown-section"><span class="countdown-amount">10</span><span class="countdown-period">Hours</span></span><span class="countdown-section"><span class="countdown-amount">16</span><span class="countdown-period">Mins</span></span><span class="countdown-section"><span class="countdown-amount">11</span><span class="countdown-period">Secs</span></span></span></div>
                            </div>
                        </figure>
                        <div class="product-details">
                            <h4 class="product-name"><a href="product-default.html">Charge &amp; Alarm Machine</a></h4>
                            <div class="product-pa-wrapper">
                                <div class="product-price">
                                    <ins class="new-price">$26.88</ins><del class="old-price">$27.89</del>
                                </div>
                                <div class="product-action">
                                    <a href="#" class="btn-cart btn-product btn btn-icon-right btn-link btn-underline">
                                        Add
                                        To Cart
                                    </a>
                                </div>
                            </div>
                            <div class="sold-by">
                                Sold By: <a href="#">Vendor 5</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item" style="width: 184px; margin-right: 20px;">
                    <div class="product product-simple text-center">
                        <figure class="product-media">
                            <a href="product-default.html">
                                <img src="~/Content/assets/images/demos/demo8/product/5-2.jpg" alt="Product" width="260" height="291">
                            </a>
                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Add to wishlist"></a>
                                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Add to Compare"></a>
                            </div>
                            <div class="product-action">
                                <a href="#" class="btn-product btn-quickview" title="Quick View">
                                    Quick
                                    View
                                </a>
                            </div>
                        </figure>
                        <div class="product-details">
                            <h4 class="product-name"><a href="product-default.html">Women's Comforter</a></h4>
                            <div class="product-pa-wrapper">
                                <div class="product-price">
                                    <ins class="new-price">$25.68</ins><del class="old-price">$30.45</del>
                                </div>
                                <div class="product-action">
                                    <a href="#" class="btn-cart btn-product btn btn-icon-right btn-link btn-underline">
                                        Add
                                        To Cart
                                    </a>
                                </div>
                            </div>
                            <div class="sold-by">
                                Sold By: <a href="#">Vendor 2</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item" style="width: 184px; margin-right: 20px;">
                    <div class="product product-simple text-center">
                        <figure class="product-media">
                            <a href="product-default.html">
                                <img src="~/Content/assets/images/demos/demo8/product/5-3.jpg" alt="Product" width="260" height="291">
                            </a>
                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Add to wishlist"></a>
                                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Add to Compare"></a>
                            </div>
                            <div class="product-action">
                                <a href="#" class="btn-product btn-quickview" title="Quick View">
                                    Quick
                                    View
                                </a>
                            </div>
                        </figure>
                        <div class="product-details">
                            <h4 class="product-name"><a href="product-default.html">Gold Watch</a></h4>
                            <div class="product-pa-wrapper">
                                <div class="product-price">
                                    <ins class="new-price">$164.47</ins><del class="old-price">$183.47</del>
                                </div>
                                <div class="product-action">
                                    <a href="#" class="btn-cart btn-product btn btn-icon-right btn-link btn-underline added">
                                        Add
                                        To Cart
                                    </a>
                                </div>
                            </div>
                            <div class="sold-by">
                                Sold By: <a href="#">Vendor 1</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item" style="width: 184px; margin-right: 20px;">
                    <div class="product product-simple text-center">
                        <figure class="product-media">
                            <a href="product-default.html">
                                <img src="~/Content/assets/images/demos/demo8/product/5-4.jpg" alt="Product" width="260" height="291">
                            </a>
                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Add to wishlist"></a>
                                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Add to Compare"></a>
                            </div>
                            <div class="product-action">
                                <a href="#" class="btn-product btn-quickview" title="Quick View">
                                    Quick
                                    View
                                </a>
                            </div>
                        </figure>
                        <div class="product-details">
                            <h4 class="product-name"><a href="product-default.html">Mini Wireless Earphone</a></h4>
                            <div class="product-pa-wrapper">
                                <div class="product-price">
                                    <ins class="new-price">$3.66</ins>
                                </div>
                                <div class="product-action">
                                    <a href="#" class="btn-cart btn-product btn btn-icon-right btn-link btn-underline">
                                        Add
                                        To Cart
                                    </a>
                                </div>
                            </div>
                            <div class="sold-by">
                                Sold By: <a href="#">Vendor 2</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item" style="width: 184px; margin-right: 20px;">
                    <div class="product product-simple text-center">
                        <figure class="product-media">
                            <a href="product-default.html">
                                <img src="~/Content/assets/images/demos/demo8/product/5-5.jpg" alt="Product" width="260" height="291">
                            </a>
                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Add to wishlist"></a>
                                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Add to Compare"></a>
                            </div>
                            <div class="product-action">
                                <a href="#" class="btn-product btn-quickview" title="Quick View">
                                    Quick
                                    View
                                </a>
                            </div>
                        </figure>
                        <div class="product-details">
                            <h4 class="product-name"><a href="product-default.html">Headkerchief</a></h4>
                            <div class="product-pa-wrapper">
                                <div class="product-price">
                                    <ins class="new-price">$28.99</ins>
                                </div>
                                <div class="product-action">
                                    <a href="#" class="btn-cart btn-product btn btn-icon-right btn-link btn-underline">
                                        Add
                                        To Cart
                                    </a>
                                </div>
                            </div>
                            <div class="sold-by">
                                Sold By: <a href="#">Vendor 4</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item" style="width: 184px; margin-right: 20px;">
                    <div class="product product-simple text-center">
                        <figure class="product-media">
                            <a href="product-default.html">
                                <img src="~/Content/assets/images/demos/demo8/product/5-6.jpg" alt="Product" width="260" height="291">
                            </a>
                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Add to wishlist"></a>
                                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Add to Compare"></a>
                            </div>
                            <div class="product-action">
                                <a href="#" class="btn-product btn-quickview" title="Quick View">
                                    Quick
                                    View
                                </a>
                            </div>
                        </figure>
                        <div class="product-details">
                            <h4 class="product-name"><a href="product-default.html">White Schoolbag</a></h4>
                            <div class="product-pa-wrapper">
                                <div class="product-price">
                                    <ins class="new-price">$50.65</ins><del class="old-price">$78.23</del>
                                </div>
                                <div class="product-action">
                                    <a href="#" class="btn-cart btn-product btn btn-icon-right btn-link btn-underline">
                                        Add
                                        To Cart
                                    </a>
                                </div>
                            </div>
                            <div class="sold-by">
                                Sold By: <a href="#">Vendor 2</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="owl-nav">
            <div class="owl-prev"><i class="w-icon-angle-left"></i></div>
            <div class="owl-next"><i class="w-icon-angle-right"></i></div>
        </div>
    </div>

    </section>
