
@{
    ViewBag.Title = "TopWeeklyVendors";
}
<section class="mt-5  pt-10 pb-10 appear-animate fadeIn appear-animation-visible" style="animation-duration: 1.2s;">

    <h2 class="title title-underline mb-4 appear-animate fadeIn appear-animation-visible" style="animation-duration: 1.2s;">Top Weekly Vendors</h2>
    <div class="owl-carousel owl-theme mb-10 pb-2 appear-animate owl-loaded owl-drag" data-owl-options="{
                    'nav': true,
                    'dots': true,
                    'margin': 20,
        'pagination' :true,
                    'responsive': {
                        '0': {
                            'items': 1
                        },
                        '576': {
                            'items': 2
                        },
                        '768': {
                            'items': 3
                        },
                        '1200': {
                            'items': 4
                        }
                    }
                }" style="animation-duration: 1.2s;">

        <div class="owl-stage-outer">
            <div class="owl-stage">
                <div class="owl-item" style="width: 285px; margin-right: 20px;">
                    <div class="vendor-widget mb-0">
                        <div class="vendor-widget-2">
                            <div class="vendor-details">
                                <figure class="vendor-logo">
                                    <a href="vendor-dokan-store.html">
                                        <img src="~/Content/assets/images/demos/demo9/vendor-logo/1.jpg" alt="Vendor Logo" width="70" height="70">
                                    </a>
                                </figure>
                                <div class="vendor-personal">
                                    <h4 class="vendor-name">
                                        <a href="vendor-dokan-store.html">Vendor 1</a>
                                    </h4>
                                    <span class="vendor-product-count">(27 Products)</span>
                                    <div class="ratings-container">
                                        <div class="ratings-full">
                                            <span class="ratings" style="width: 100%;"></span>
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vendor-products row cols-3 gutter-sm">
                                <div class="vendor-product">
                                    <figure class="product-media">
                                        <a href="product-default.html">
                                            <img src="~/Content/assets/images/demos/demo9/product/4-1.jpg" alt="Vendor Product" width="100" height="113">
                                        </a>
                                    </figure>
                                </div>
                                <div class="vendor-product">
                                    <figure class="product-media">
                                        <a href="product-default.html">
                                            <img src="~/Content/assets/images/demos/demo9/product/4-2.jpg" alt="Vendor Product" width="100" height="113">
                                        </a>
                                    </figure>
                                </div>
                                <div class="vendor-product">
                                    <figure class="product-media">
                                        <a href="product-default.html">
                                            <img src="~/Content/assets/images/demos/demo9/product/4-3.jpg" alt="Vendor Product" width="100" height="113">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item " style="width: 285px; margin-right: 20px;">
                    <div class="vendor-widget mb-0">
                        <div class="vendor-widget-2">
                            <div class="vendor-details">
                                <figure class="vendor-logo">
                                    <a href="vendor-dokan-store.html">
                                        <img src="~/Content/assets/images/demos/demo9/vendor-logo/2.jpg" alt="Vendor Logo" width="70" height="70">
                                    </a>
                                </figure>
                                <div class="vendor-personal">
                                    <h4 class="vendor-name">
                                        <a href="vendor-dokan-store.html">Vendor 2</a>
                                    </h4>
                                    <span class="vendor-product-count">(20 Products)</span>
                                    <div class="ratings-container">
                                        <div class="ratings-full">
                                            <span class="ratings" style="width: 100%;"></span>
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vendor-products row cols-3 gutter-sm">
                                <div class="vendor-product">
                                    <figure class="product-media">
                                        <a href="product-default.html">
                                            <img src="~/Content/assets/images/demos/demo9/product/4-4.jpg" alt="Vendor Product" width="100" height="113">
                                        </a>
                                    </figure>
                                </div>
                                <div class="vendor-product">
                                    <figure class="product-media">
                                        <a href="product-default.html">
                                            <img src="~/Content/assets/images/demos/demo9/product/4-5.jpg" alt="Vendor Product" width="100" height="113">
                                        </a>
                                    </figure>
                                </div>
                                <div class="vendor-product">
                                    <figure class="product-media">
                                        <a href="product-default.html">
                                            <img src="~/Content/assets/images/demos/demo9/product/4-6.jpg" alt="Vendor Product" width="100" height="113">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item" style="width: 285px; margin-right: 20px;">
                    <div class="vendor-widget mb-0">
                        <div class="vendor-widget-2">
                            <div class="vendor-details">
                                <figure class="vendor-logo">
                                    <a href="vendor-dokan-store.html">
                                        <img src="~/Content/assets/images/demos/demo9/vendor-logo/3.jpg" alt="Vendor Logo" width="70" height="70">
                                    </a>
                                </figure>
                                <div class="vendor-personal">
                                    <h4 class="vendor-name">
                                        <a href="vendor-dokan-store.html">Vendor 3</a>
                                    </h4>
                                    <span class="vendor-product-count">(30 Products)</span>
                                    <div class="ratings-container">
                                        <div class="ratings-full">
                                            <span class="ratings" style="width: 100%;"></span>
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vendor-products row cols-3 gutter-sm">
                                <div class="vendor-product">
                                    <figure class="product-media">
                                        <a href="product-default.html">
                                            <img src="~/Content/assets/images/demos/demo9/product/4-7.jpg" alt="Vendor Product" width="100" height="113">
                                        </a>
                                    </figure>
                                </div>
                                <div class="vendor-product">
                                    <figure class="product-media">
                                        <a href="product-default.html">
                                            <img src="~/Content/assets/images/demos/demo9/product/4-8.jpg" alt="Vendor Product" width="100" height="113">
                                        </a>
                                    </figure>
                                </div>
                                <div class="vendor-product">
                                    <figure class="product-media">
                                        <a href="product-default.html">
                                            <img src="~/Content/assets/images/demos/demo9/product/4-9.jpg" alt="Vendor Product" width="100" height="113">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item" style="width: 285px; margin-right: 20px;">
                    <div class="vendor-widget mb-0">
                        <div class="vendor-widget-2">
                            <div class="vendor-details">
                                <figure class="vendor-logo">
                                    <a href="vendor-dokan-store.html">
                                        <img src="~/Content/assets/images/demos/demo9/vendor-logo/4.jpg" alt="Vendor Logo" width="70" height="70">
                                    </a>
                                </figure>
                                <div class="vendor-personal">
                                    <h4 class="vendor-name">
                                        <a href="vendor-dokan-store.html">Vendor 4</a>
                                    </h4>
                                    <span class="vendor-product-count">(17 Products)</span>
                                    <div class="ratings-container">
                                        <div class="ratings-full">
                                            <span class="ratings" style="width: 100%;"></span>
                                            <span class="tooltiptext tooltip-top">5.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vendor-products row cols-3 gutter-sm">
                                <div class="vendor-product">
                                    <figure class="product-media">
                                        <a href="product-default.html">
                                            <img src="~/Content/assets/images/demos/demo9/product/4-10.jpg" alt="Vendor Product" width="100" height="113">
                                        </a>
                                    </figure>
                                </div>
                                <div class="vendor-product">
                                    <figure class="product-media">
                                        <a href="product-default.html">
                                            <img src="~/Content/assets/images/demos/demo9/product/4-11.jpg" alt="Vendor Product" width="100" height="113">
                                        </a>
                                    </figure>
                                </div>
                                <div class="vendor-product">
                                    <figure class="product-media">
                                        <a href="product-default.html">
                                            <img src="~/Content/assets/images/demos/demo9/product/4-12.jpg" alt="Vendor Product" width="100" height="113">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item" style="width: 285px; margin-right: 20px;">
                    <div class="vendor-widget mb-0">
                        <div class="vendor-widget-2">
                            <div class="vendor-details">
                                <figure class="vendor-logo">
                                    <a href="vendor-dokan-store.html">
                                        <img src="~/Content/assets/images/demos/demo9/vendor-logo/4.jpg" alt="Vendor Logo" width="70" height="70">
                                    </a>
                                </figure>
                                <div class="vendor-personal">
                                    <h4 class="vendor-name">
                                        <a href="vendor-dokan-store.html">Vendor 4</a>
                                    </h4>
                                    <span class="vendor-product-count">(17 Products)</span>
                                    <div class="ratings-container">
                                        <div class="ratings-full">
                                            <span class="ratings" style="width: 100%;"></span>
                                            <span class="tooltiptext tooltip-top">5.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vendor-products row cols-3 gutter-sm">
                                <div class="vendor-product">
                                    <figure class="product-media">
                                        <a href="product-default.html">
                                            <img src="~/Content/assets/images/demos/demo9/product/4-10.jpg" alt="Vendor Product" width="100" height="113">
                                        </a>
                                    </figure>
                                </div>
                                <div class="vendor-product">
                                    <figure class="product-media">
                                        <a href="product-default.html">
                                            <img src="~/Content/assets/images/demos/demo9/product/4-11.jpg" alt="Vendor Product" width="100" height="113">
                                        </a>
                                    </figure>
                                </div>
                                <div class="vendor-product">
                                    <figure class="product-media">
                                        <a href="product-default.html">
                                            <img src="~/Content/assets/images/demos/demo9/product/4-12.jpg" alt="Vendor Product" width="100" height="113">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="owl-nav">
            <div class="owl-prev"><i class="w-icon-angle-left"></i></div>
            <div class="owl-next"><i class="w-icon-angle-right"></i></div>
        </div>
    </div>
</section>